// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

.browse-categories ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }

.browse-categories li {
    border-bottom: 1px solid #aeb7bd;
    padding: 16px 16px;
    margin: 0px;
}

.browse-categories a {
    text-decoration: none;
}

.browse-categories-first {
    border-top: 1px solid #aeb7bd;
}

.browse-categories-active {
    background: #005eb8;
}

.browse-categories-active a {
    color: #ffffff;
}

.browse-content {
    padding-left: 48px;
}
    