// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

.browse-categories ul {
    list-style: none;
    padding: 0;
    margin-top: 8px;
    }

.browse-categories li {
    border-bottom: 1px solid #d8dde0;
    padding: 16px 16px;
    margin: 0px;
    background: white;
}

.browse-categories a {
    text-decoration: none;
}

// Remove visited style from list of links

.browse-categories a:visited {
    color: #005eb8;
}

// Remove hover from list of links

.browse-categories li:hover {
    background: #ffcd60;
}

.browse-categories a:hover {
    background: none;
    box-shadow: 0 0 0 0;
}

// Give border-top to the first element in the list

.browse-categories-first {
    border-top: 1px solid #d8dde0;
}


// Make active box have a different background and text colour

#browse-categories-active {
    background: #005eb8;
}

#browse-categories-active:hover {
    background: #005eb8;
}

#browse-categories-active a {
    color: #ffffff;
}

.browse-categories-active a:visited {
    color: #ffffff;
}

