<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Contact the NHS prototypes
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ],
  href: "/v5/promos",
  text: "Contact the NHS"
}) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Book, cancel or change an appointment</h1>
    </div>
  </div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds browse-content">
  
      <h2 class="nhsuk-heading-m">GP appointments</h2>
      <p>You can book, cancel or change your GP appointment by contacting your GP surgery by phone or through their website.</p>
      <p><a href="https://www.nhs.uk/Service-Search/GP/LocationSearch/4">Find contact details for your GP surgery</a></p>


      <h2 class="nhsuk-heading-m nhsuk-u-margin-top-5">Hospital appointments</h2>

      <h3 class="nhsuk-heading-s">Contact the hospital directly</h3>
      <p>You can book, cancel or change a hospital appointment by contacting a hospital directly by phone or through their website</p>
      <p><a href="https://www.nhs.uk/Service-Search/Hospital/LocationSearch/8/Hospitals">Find contact details for a hospital</a><p>

      <h3 class="nhsuk-heading-s">e-Referral service</h3>
      <p>You can also use the e-Referral service if you've received a letter telling you you can use this system</p>
      <p><a href="https://www.nhs.uk/using-the-nhs/nhs-services/hospitals/nhs-e-referral-service/">Find out more about using the e-Referral Service</a></p>




    </div>
  
  </div>

  </div>

{% endblock %}
