<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Contact the NHS prototypes
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ]
}) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <h1>
        Contact the NHS
      </h1>


      <div class="nhsuk-panel">
        <h2>Get help in an emergency or urgent situation</h2>
        
        <h3 class="nhsuk-heading-s">If you think it's a life threatening emergency</h3>
        <ul class="nhsuk-list">
          <li><a href="#">Find your nearest A&E</a></li>
          <li><a href="#">Call 999</a></li>
        </ul>

        <h3 class="nhsuk-heading-s">If you need urgent help but not sure what to do</h3>
        <ul class="nhsuk-list">
          <li><a href="#">111 online</a></h4></li>
        </ul>

      </div>


      <div class="nhsuk-panel">
        <h2>Questions about your health</h2>

        <h3 class="nhsuk-heading-s">Find advice online</h3>
        <ul class="nhsuk-list">
          <li><a href="#">NHS.UK Health A to Z</a></li>
        </ul>

        <h3 class="nhsuk-heading-s">If you need to talk to someone</h3>
        <ul class="nhsuk-list">
          <li><a href="#">Talk to a pharmacist</a></li>
          <li><a href="#">Talk to your GP or dentist</a></li>
        </ul>

      </div>


      <div class="nhsuk-panel">
        <h2>Appointments</h2>
        <ul class="nhsuk-list">
          <li><a href="#">Contact the service provider</a></li>
          <li><a href="#">Book or manage an e-Referral appointment</a></li>
        </ul>

      </div>


      <div class="nhsuk-panel">
        <h2>Find contact details for a local service</h2>
        <ul class="nhsuk-list">
          <li><a href="#">Find an NHS service</a></li>
          <li><a href="#">What to do if the contact details you were given don't work</a></li>
          <li><a href="#">Self referral for mental health services</a></li>
        </ul>

      </div>

      <div class="nhsuk-panel">
        <h2>Get information about your medical history / record</h2>
        <ul class="nhsuk-list">
          <li><a href="#">How to find your NHS number</a></li>
          <li><a href="#">Talk to your GP</a> for your medical record</li>
        </ul>
      </div>

      <div class="nhsuk-panel">
        <h2>Prescriptions</h2>
        <ul class="nhsuk-list">
          <li><a href="#">Get a prepayment card</a></li>
        </ul>
      </div>

     <div class="nhsuk-panel">
        <h2>Eligibility and costs</h2>
        <ul class="nhsuk-list">
          <li><a href="#">?</a></li>
        </ul>
      </div>

     <div class="nhsuk-panel">
        <h2>EHIC</h3>
        <ul class="nhsuk-list">
          <li><a href="#">?</a></li>
        </ul>
      </div>

     <div class="nhsuk-panel">
        <h2>Jobs</h2>
        <ul class="nhsuk-list">
          <li><a href="#">NHS jobs</a></li>
        </ul>
      </div>

      <div class="nhsuk-panel">
        <h2>Contact details for health professionals</h2>
        <ul class="nhsuk-list">
          <li><a href="#">?</a></li>
        </ul>
      </div>

      <div class="nhsuk-panel">
        <h2>Update organisation details (PIMS)</h2>
        <ul class="nhsuk-list">
          <li><a href="#">Profile login</a></li>
          <li><a href="#">Contact form</a></li>
        </ul>
      </div>

      <div class="nhsuk-panel">
        <h2>Help improve the NHS website</h2>
        <ul class="nhsuk-list">
          <li><a href="#">Contact form?</a></li>
        </ul>
      </div>

      <div class="nhsuk-panel">
        <h2>Press, FOI, syndicate content</h2>
        <ul class="nhsuk-list">
          <li><a href="#">?</a></li>
        </ul>
      </div>

     



    </div>
  </div>
{% endblock %}
