<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Contact the NHS prototypes
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ]
}) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1>Contact the NHS</h1>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-one-third browse-categories">
          <ul>
            <li class="browse-categories-first nhsuk-body-s"><a href="/v3/browse/emergency">Emergency and urgent problems</a></li>
            <li class="nhsuk-body-s"><a href="/v3/browse/questions-health">Questions about your health</a></li>
            <li id="browse-categories-active" class="nhsuk-body-s"><a href="/v3/browse/appointments">Appointments</a></li>
            <li class="nhsuk-body-s"><a href="/v3/browse/gp-dentist">GPs, Dentists, Hospitals</a></li>
            <li class="nhsuk-body-s"><a href="/v3/browse/feedback">Give feedback about a service</a></li>
            <li class="nhsuk-body-s"><a href="/v3/browse/records">Your medical record and NHS number</a></li>
            <li class="nhsuk-body-s"><a href="/v3/browse/prescription">Prescription prepayment certificates</a></li>
            <li class="nhsuk-body-s"><a href="/v3/browse/eligibility-costs">Eligibility and costs</a></li>
            <li class="nhsuk-body-s"><a href="/v3/browse/ehic">EHIC (European Health Insurance Card)</a></li>
            <li class="nhsuk-body-s"><a href="/v3/browse/improve-website">Help improve the website</a></li>
            <li class="nhsuk-body-s"><a href="/v3/browse/professionals">Contacts for professionals</a></li>
          </ul>
        </div>

        <div class="nhsuk-grid-column-two-thirds browse-content">

          <h2>Appointments</h2>
      
          <h3>GP appointments</h3>
          <p>You can book, cancel or change your GP appointment by contacting your GP surgery by phone or through their website.</p>
          <p><a href="https://www.nhs.uk/Service-Search/GP/LocationSearch/4">Find contact details for your GP surgery</a></p>


          <h3>Hospital appointments</h3>
          <p>You can book, cancel or change a hospital appointment by:</p>
          <ul>
            <li>contacting a hospital directly by phone or through their website</li>
            <p><a href="https://www.nhs.uk/service-search/">Find contact details for a hospital</a>/<p>
            <li>using the e-Referral service if you've received a letter telling you you can use this system</li>
            <p><a href="https://www.nhs.uk/using-the-nhs/nhs-services/hospitals/nhs-e-referral-service/">Find out more about using the e-Referral Service</a></p>
          </ul>



        </div>
      
      </div>

    </div>

  </div>

{% endblock %}
