<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Contact the NHS prototypes
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ]
}) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <h1>
        Contact the NHS
      </h1>

      <div class="nhsuk-expander-group">

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Emergency and urgent problems
            </span>
          </summary>
          <div class="nhsuk-details__text">
        
            <h3 class="nhsuk-heading-xs">If it’s an emergency:</h3>
            <ul>
              <li>call 999</li>
              <li><a href="https://www.nhs.uk/Service-Search/Accident-and-emergency-services/LocationSearch/428">go to A&E if you can</a></li>
            </ul>

            <h3 class="nhsuk-heading-xs">If you need help now, but it is not an emergency:</h3>
            <ul>
              <li>go to <a href="https://111.nhs.uk">111.nhs.uk</a></li>
              <li>call 111</li>
            </ul>

          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Speak to someone about your health
            </span>
          </summary>
          <div class="nhsuk-details__text">

            <h3 class="nhsuk-heading-xs">If you have a medical problem</h3>
            <p>You can:</p>
            <ul>
              <li><a href="https://www.nhs.uk/Service-Search/Pharmacy/LocationSearch/10?nobeta=true">speak to a pharmacist </a> for advice on medicines or common problems like coughs, colds and rashes</li>
              <li>see your <a href="https://www.nhs.uk/Service-Search/GP/LocationSearch/4">GP</a> or <a href="https://www.nhs.uk/Service-Search/Dentists/LocationSearch/3">dentist</a></li>
            </ul>

        
            <h3 class="nhsuk-heading-xs">If you'd like to read more</h3>
            <p>You can:</p>
            <ul>
              <li>use the <a href="https://www.nhs.uk/conditions/">health A-Z</a> to read about conditions, symptoms and treatment information</li>
              <li>use the <a href="https://www.nhs.uk/medicines/">medicines A-Z </a> to find out how your medicine works, how and when to take it and possible side effects</li>
            </ul>

          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Book, cancel or change an appointment
            </span>
          </summary>
          <div class="nhsuk-details__text">

            <h3 class="nhsuk-heading-xs">GP appointments</h3>
            <p>You can contact your GP surgery by phone or through their website.</p>
            <p><a href="https://www.nhs.uk/Service-Search/GP/LocationSearch/4">Find contact details for your GP surgery</a></p>


            <h3 class="nhsuk-heading-xs">Hospital appointments</h3>
            <p>You can:</p>
            <ul>
              <li>contact a hospital directly by phone or through their website</li>
              <p><a href="https://www.nhs.uk/service-search/">Find contact details for a hospital</a>/<p>
              <li>use the e-Referral service if you've received a letter telling you you can use this system</li>
              <p>Find out more about <a href="https://www.nhs.uk/using-the-nhs/nhs-services/hospitals/nhs-e-referral-service/">using the e-Referral Service</a></p>
            </ul>
            </div>

        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Find contact details for GPs, hospitals and other services
            </span>
          </summary>
          <div class="nhsuk-details__text">
          <ul>
            <li><a href="">Find a GP surgery</a></li>
            <li><a href="">Find a dentist</a></li>
            <li><a href="">Find a hospital</a></li>
            <li><a href="">Find all other NHS services</a></li>
          </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Give feedback or make a complaint
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <h3 class="nhsuk-heading-xs">How to give feedback about an NHS service</h3>
            <p>You can give feedback about any NHS care, treatment or service by:</p>
            <ul>
              <li>speaking to a member of staff at the place you went to, such as a GP surgery or hospital</li>
              <li>give a rating or review – <a href="https://www.nhs.uk/service-search">find the place you went to</a> to leave feedback</li>
            </ul>

            <h3 class="nhsuk-heading-xs">How to make a complaint about an NHS service</h3>

            <p>You can complain to:</p>

            <ul>
              <li>a member of staff at the place you went to, such as a GP surgery or hospital</li>
              <li>the organisation in charge of the place you went to – for example, this might be NHS England or your local clinical commissioning group (CCG)</li>
            </ul>

            <p><a href="https://www.england.nhs.uk/contact-us/complaint/complaining-to-nhse/">Contact NHS England</a> if your complaint is about:</p>

            <ul>
              <li>a GP surgery</li>
              <li>an NHS dentist</li>
              <li>an NHS optician</li>
              <li>a pharmacy</li>
              <li>NHS 111</li>
            </ul>

            <p><a href="https://www.nhs.uk/Service-Search/Clinical%20Commissioning%20Group/LocationSearch/1">Contact your local CCG</a> if your complaint is about:</p>

            <ul>
              <li>hospital care</li>
              <li>mental health services</li>
              <li>out of hours services</li>
              <li>community services such as district nursing</li>
            </ul>

            <h3 class="nhsuk-heading-xs">Give feedback about the website</h3>
            <p>You can contact the NHS website team with questions and feedback about the website.</p>

            <p>Get in touch using our <a href="https://www.nhs.uk/contact-us/nhs-website-contact-us">online form</a> to leave feedback.</p>


          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-8">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Get help with something else
            </span>
          </summary>
          <div class="nhsuk-details__text">

           <h3 class="nhsuk-heading-s nhsuk-u-margin-top-8">How to find your NHS number</h3>

            <p>You can find your NHS number on any letters you’ve had from the NHS.</p>

            <p>Check any:</p>
            <ul>
              <li>prescriptions</li>
              <li>test results</li>
              <li>hospital referral letters</li>
              <li>appointment letters</li>
            </ul>

            <h3 class="nhsuk-heading-xs nhsuk-u-margin-top-6">If you cannot find your NHS number</h3>

            <p>Ask at your GP surgery if you cannot find your NHS number.</p>

            <p><a href="/Service-Search/GP/LocationSearch/4">Find a local GP surgery</a> to register with.</a></p>


            <h3 class="nhsuk-heading-s nhsuk-u-margin-top-8">EHIC (European Health Insurance Card)</h2>

            <p><a href="https://www.ehic.org.uk/Internet/startApplication.do">Apply for an EHIC</a></p>

            <h4 class="nhsuk-heading-xs">Replacing a lost or stolen EHIC</h3>
            <p>If you're in the UK:</p>
            <ul>
              <li>call 0300 330 1350</li>
            </ul>

            <p>If you're abroad:</p>
            <ul>
              <li>call +44 191 218 1999, Monday to Friday, 8am to 5pm</li>
            </ul>


             <h3 class="nhsuk-heading-s nhsuk-u-margin-top-8">Prescription prepayment certificates</h2>

            <p>Find out how they work and <a href="https://apps.nhsbsa.nhs.uk/ppc-online/patient.do">buy one online</a>.</p>

            <h3 class="nhsuk-heading-xs">Get a replacement certificate or update your details</h3>

            <p>Call 0300 330 1341:</p>

            <ul>
              <li>open 8am to 6pm Monday to Friday</li>
              <li>9am to 3pm on Saturday</li>
            </ul>

            <p>Or use the <a href="https://contactcentreservices.nhsbsa.nhs.uk/nhsuk/dispatch/0/0X28970b39-41f7-4deb-a95e-881a2a7b3d47/0/?lang=en_GB&Screen=NHSBSA_ContactForm">online contact from</a>.</p> 

          </div>
        </details>

          <h2>Contacts for professionals</h2>
          <p>Example, example and another example.</p>
          <p><a href="#">Contacts for professionals</a></p>
        
      

    </div>
  </div>
{% endblock %}
