<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Contact the NHS prototypes
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ]
}) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1>Contact the NHS</h1>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-one-third browse-categories">
          <ul>
            <li class="browse-categories-first" id="browse-categories-active"><a href="/v2/browse/emergency">Emergency and urgent problems</a></li>
            <li><a href="/v2/browse/questions-health">Questions about your health</a></li>
            <li><a href="/v2/browse/appointments">Appointments</a></li>
            <li><a href="/v2/browse/gp-dentist">GPs, Dentists, Hospitals</a></li>
            <li><a href="/v2/browse/feedback">Give feedback about a service</a></li>
            <li><a href="/v2/browse/records">Your medical record and NHS number</a></li>
            <li><a href="/v2/browse/prescription">Prescription prepayment certificates</a></li>
            <li><a href="/v2/browse/eligibility-costs">Eligibility and costs</a></li>
            <li><a href="/v2/browse/ehic">EHIC (European Health Insurance Card)</a></li>
            <li><a href="/v2/browse/improve-website">Help improve the website</a></li>
            <li><a href="/v2/browse/professionals">Contacts for professionals</a></li>
          </ul>
        </div>

        <div class="nhsuk-grid-column-two-thirds browse-content">

          <h2>Emergency and urgent problems</h2>
      
          <h3 class="nhsuk-u-margin-top-8">If you think it's a life-threatening emergency:</h3>
          <ul class="nhsuk-list">
            <li>Call 999</li>
            <li><a href="https://www.nhs.uk/Service-Search/Accident-and-emergency-services/LocationSearch/428">Find your nearest A&E</a></li>
          </ul>

          <h3 class="nhsuk-u-margin-top-8">If you need help now, but you’re not sure what to do:</h3>
          <ul class="nhsuk-list">
            <li>Go to <a href="https://111.nhs.uk">111.nhs.uk</a> or call 111</h4></li>
          </ul>

        </div>
      
      </div>

    </div>
  </div>

{% endblock %}
