<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Contact the NHS prototypes
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ]
}) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <h1>
        Contact the NHS
      </h1>

      <div class="nhsuk-panel">
        <h2>Emergency and urgent problems</h2>

        <h3 class="nhsuk-heading-xs">If you think it's a life-threatening emergency:</h3>
        <ul>
          <li>call 999</li>
          <li><a href="https://www.nhs.uk/Service-Search/Accident-and-emergency-services/LocationSearch/428">Find your nearest A&E</a></li>
        </ul>

        <h3 class="nhsuk-heading-xs">If you need help now, but you’re not sure what to do:</h3>
        <ul>
          <li>go to <a href="https://111.nhs.uk">111.nhs.uk</a></li>
          <li>call 111</li>
        </ul>

      </div>


      <div class="nhsuk-panel">
        <h2>Questions about your health</h3>

         <h3 class="nhsuk-heading-xs">If you need to speak to someone:</h3>
        <ul>
          <li><a href="https://www.nhs.uk/Service-Search/Pharmacy/LocationSearch/10?nobeta=true">speak to a pharmacist </a> for advice on medicines or common problems like coughs, colds and rashes</li>
          <li>see your <a href="https://www.nhs.uk/Service-Search/GP/LocationSearch/4">GP</a> or <a href="https://www.nhs.uk/Service-Search/Dentists/LocationSearch/3">dentist</a></li>
        </ul>
    
        <h3 class="nhsuk-heading-xs">To find out more about conditions and medicines:</h3>
        <ul>
          <li>use the NHS website <a href="https://www.nhs.uk/conditions/">health A-Z</a> to get more information on conditions, symptoms and treatments, including what to do and when to get help </li>
          <li>use the NHS website <a href="https://www.nhs.uk/medicines/">medicines A-Z </a> to find out how your medicine works, how and when to take it, possible side effects and answers to your common questions</li>
        </ul>

      </div>


      <div class="nhsuk-panel">
        <h2>Appointments</h2>
        <h3 class="nhsuk-heading-xs">GP appointments</h3>
        <p>You can book, cancel or change your GP appointment by contacting your GP surgery by phone or through their website.</p>
        <p><a href="https://www.nhs.uk/Service-Search/GP/LocationSearch/4">Find contact details for your GP surgery</a></p>


        <h3 class="nhsuk-heading-xs">Hospital appointments</h3>
        <p>You can book, cancel or change a hospital appointment by:</p>
        <ul>
          <li>contacting a hospital directly by phone or through their website</li>
          <p><a href="https://www.nhs.uk/service-search/">Find contact details for a hospital</a>/<p>
          <li>using the e-Referral service if you've received a letter telling you you can use this system</li>
          <p><a href="https://www.nhs.uk/using-the-nhs/nhs-services/hospitals/nhs-e-referral-service/">Find out more about using the e-Referral Service</a></p>
        </ul>
      </div>


      <div class="nhsuk-panel">
        <h2>GPs, Dentists, Hospitals</h2>
        <p>Use the service search to get in touch with an NHS service.</p>

        <ul>
          <li><a href="">Find a GP surgery</a></li>
          <li><a href="">Find a dentist</a></li>
          <li><a href="">Find an optician</a></li>
          <li><a href="">Find a pharmacy</a></li>
          <li><a href="">Find all other NHS services</a></li>
        </ul>

      </div>

      <div class="nhsuk-panel">
        <h2>Give feedback about a service</h2>

        <h3 class="nhsuk-heading-xs">How to give feedback about an NHS service</h3>
        <p>You can give feedback about any NHS care, treatment or service by:</p>
        <ul>
          <li>speaking to a member of staff at the place you went to, such as a GP surgery or hospital</li>
          <li>give a rating or review – <a href="https://www.nhs.uk/service-search">find the place you went to</a> to leave feedback</li>
        </ul>

        <h3 class="nhsuk-heading-xs">How to make a complaint about an NHS service</h3>

        <p>You can make a complaint about any NHS care, treatment or service by complaining to:</p>

        <ul>
          <li>a member of staff at the place you went to, such as a GP surgery or hospital</li>
          <li>the organisation in charge of the place you went to – for example, this might be NHS England or your local clinical commissioning group (CCG)</li>
        </ul>


        <p><a href="https://www.england.nhs.uk/contact-us/complaint/complaining-to-nhse/">Contact NHS England</a> if your complaint is about:</p>

        <ul>
          <li>a GP surgery</li>
          <li>an NHS dentist</li>
          <li>an NHS optician</li>
          <li>a pharmacy</li>
          <li>NHS 111</li>
        </ul>

        <p><a href="https://www.nhs.uk/Service-Search/Clinical%20Commissioning%20Group/LocationSearch/1">Contact your local CCG</a> if your complaint is about:</p>

        <ul>
          <li>hospital care</li>
          <li>mental health services</li>
          <li>out of hours services</li>
          <li>community services such as district nursing</li>
        </ul>

        <h3 class="nhsuk-heading-xs">For help with the complaints process</h3>
        <p>You can speak to the <a href="/Service-Search/Patient-advice-and-liaison-services-(PALS)/LocationSearch/363">Patient Advice and Liaison service (PALS)</a> for advice if your complaint is about care you received in hospital.</p>

        <p>Go to the NHS England website for <a href="https://www.england.nhs.uk/contact-us/complaint/">more information on how to make a complaint</a>.

      </div>

      <div class="nhsuk-panel">
        <h2>Your medical record and NHS number</h2>

        <h3 class="nhsuk-heading-xs">How to see your medical records</h3>

        <p>There are different types of medical records.</p>

        <p>You can see your GP records by:</p>
        <ul>
          <li>asking for them at your GP surgery</li>
          <li>going online to see them (if you’ve signed up for online appointment booking or repeat prescriptions)</li>
        </ul>

        <p>Find out <a href="/using-the-nhs/nhs-services/gps/gp-online-services/">how to sign up for GP online services</a>.

        <p>To see your other medical records, ask at your:</p>

        <ul>
          <li>hospital</li>
          <li>dentist</li>
          <li>optician</li>
        </ul>


        <h3 class="nhsuk-heading-xs"How to see someone else’s records</h3>

        <p>You can only see someone else’s records if you’ve been given permission to do so.</p>

        <p>Find out <a href="/common-health-questions/nhs-services-and-treatments/can-i-access-someone-elses-medical-records-health-records/">how to see someone else’s medical records</a>.</p>

        <h3 class="nhsuk-heading-xs">How to get blood test results</h3>
        <p>Usually you'll have a blood test and the results will be sent to your GP.</p>

        <p>You'll usually get a phone call if the GP thinks you need a follow-up appointment. Otherwise you might not hear anything.</p>

        <p>If you do not hear anything after 2 weeks, you can always phone your GP surgery and ask them to check if your results have come in.</p>


        <h3 class="nhsuk-heading-xs">How to find your NHS number</h3>

        <p>You can find your NHS number on any letters you’ve had from the NHS.</p>

        <p>Check any:</p>
        <ul>
          <li>prescriptions</li>
          <li>test results</li>
          <li>hospital referral letters</li>
          <li>appointment letters</li>
        </ul>

        <h3 class="nhsuk-heading-xs">If you cannot find your NHS number</h3>

        <p>Ask at your GP surgery if you cannot find your NHS number. They should be able to tell you what it is.</p>

        <p>If you do not have a GP, you’ll need to register with a GP surgery to get an NHS number.</p>

        <p><a href="/Service-Search/GP/LocationSearch/4">Find a local GP surgery</a> to register with.</a></p>

      </div>

      <div class="nhsuk-panel">

        <h2>Prescription prepayment certificates</h2>

        <p>Anyone who needs to get repeat prescriptions can buy a prescription prepayment certificate to save money on their prescriptions.</p>

        <p>You can <a href="https://apps.nhsbsa.nhs.uk/ppc-online/patient.do">find out how they work and buy one online</a>.</p>

        <h3>Get a replacement certificate or update your details</h3>

        <p>Call 0300 330 1341:</p>

        <ul>
          <li>open 8am to 6pm Monday to Friday</li>
          <li>9am to 3pm on Saturday</li>
        </ul>

        <p>Or use the <a href="https://contactcentreservices.nhsbsa.nhs.uk/nhsuk/dispatch/0/0X28970b39-41f7-4deb-a95e-881a2a7b3d47/0/?lang=en_GB&Screen=NHSBSA_ContactForm">online contact from</a>.</p>

      </div>

      <div class="nhsuk-panel">

        <h2>Eligibility and costs</h2>
        <p>TBC - needs further investigation</p>

      </div>

      <div class="nhsuk-panel">

        <h2>EHIC (European Health Insurance Card)</h2>

        <p>A European Health Insurance Card (EHIC) gives you access to state-provided healthcare if you're visiting another European Economic Area (EEA) country or Switzerland.</p>

        <p><a href="https://www.ehic.org.uk/Internet/startApplication.do">Apply for an EHIC</a></p>

        <h3 class="nhsuk-heading-xs">Replacing a lost or stolen EHIC</h3>
        <p>If you're in the UK:</p>
        <ul>
          <li>call 0300 330 1350</li>
        </ul>

        <p>If you're abroad:</p>
        <ul>
          <li>call +44 191 218 1999, Monday to Friday, 8am to 5pm</li>
        </ul>

      </div>

      <div class="nhsuk-panel">

        <h2>Help improve the website</h2>

        <p>You can contact the NHS website team with questions and feedback about the website.</p>

        <p>Get in touch using our <a href="https://www.nhs.uk/contact-us/nhs-website-contact-us">online form</a> to leave feedback.</p>

      </div>

    </div>
  </div>
{% endblock %}
